<h2 class="mt-5" style="font-weight: bold"><%= @restaurant.name %></h2>
<hr>
<div>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>
  <p><%= @restaurant.phone_number %></p>
</div>
<hr>
<div>
<p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">
        <p><%= review.rating %>/5 <%= review.content %></p>
      </li>
    <% end %>
  </ul>
  <br>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant.id)%>
</div>



